:root{

    --black:#000;
    --white:#fff;
    --white-hover:RGBA(255,255,255, 0.5);
    --red:#EE3643;
    --red-active:#BA2732;
    --red-hover:#CA2C37;
    --blue:#32425C;
    --darker-blue:#293449;
    --very-darker-blue:#161D29;
    --blue-active:#3D546F;
    --darker-blue-active:#1D2739;
    --green:#63A63E;
    --green-success:#5FBB2D;
    --green-shadow:#367315;
    --green-active:#518534;
    --light-beige: #F9F5F0;
    --light-gray:#EAEAEA;
    --gray-active:#C5C5C5;
    --gray:#A9A9A9;
    --gray-input: #B5B5B5;
    --light-blue:#F1F5F7;
    
    --promo-yellow:#FFBF47;
    --promo-blue:#3BBCE3;
    --promo-violet: #DC91D8;
    --promo-green: #8ED78F;
    --promo-slider-title-bg:rgba(0, 0, 0, 0.25);
    --promo--btn-bg:rgba(255, 255, 255, 0.3);
    --promo-btn-hover:rgba(197,197,197, 0.3);
    --promo-btn-active:rgba(169,169,169, 0.3);

   
    --servises-shadow-light:#405069;

    --footer-text-gold:#FFD180;
    --footer-address-blue:#F3F7F9;
    --footer-text-text-blue:#F1F5F7;

   
    --pop-up-footer-bg:#F4F4F4;
    
    --logo-shadow:rgba(0, 0, 0, 0.24);
    --pop-up-map-shadow:rgba(0, 0, 0, 0.15);

    --social-footer-bg:#212A3A;

    --filters-title-bg:#F7F3EC;
}

*,
*:before,
*:after{
    box-sizing: border-box;
    
}

.visually-hidden {
     position: absolute;
     height: 1px;
     width: 1px;
     padding: 0;
     margin: -1px;
     border: 0;
     clip: rect(0, 0, 0, 0);
     clip-path: inset(100%);
     overflow: hidden;
     white-space: nowrap;
}

.reset-list{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

    .reset-list dd,
    .reset-list dt{
        margin: 0;
        padding: 0;
    }

.page{
    height: 100%;
}

.page-body{
    min-height: 100%;
    width: 100%;
    min-width: 970px;
    font-family: Cuprum,Tahoma,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 1.85;
    color: var(--black);
    background-color:var(--white);
}


.container{
    max-width: 970px;
    min-width: 970px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    border: 0;
    outline: 0;
}

.display-none{
    display: none;
}


.btn--red{
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    background-color: var(--red);
    color: var(--white);
}

    .btn--red:hover,
    .btn--red:focus{
        background-color: var(--red-hover);
    }

    .btn--red:active{
        background-color: var(--red-active);
    }

    .section-header-wrapper{
        background-color: var(--light-beige);
    }
        .section-header-wrapper h2{
            color: var(--blue);
            
        }

     .title{
        font-size: 30px;
        line-height: 1.2;
        font-weight: normal;
        text-transform: uppercase;
     }   
/******************************************Main-header********************************************************************/

.main-header{
    background-color:var(--light-blue);
}

.main-header__top-row {
    background-color:var(--darker-blue);
    color:white;
}

        .main-logo {
            font-family: Cuprum,Tahoma,sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 18px;  
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
            color: var(--white);
            background-color: var(--red);

            box-shadow: inset 0px -5px 0px var(--logo-shadow);
        }

            .main-logo:active{
                background-color: var(--red-active);
            }

            .main-logo--footer{
                font-size: 23px;
            }

        .header-search-form {
        }

            .header-search-form__label{}

            .header-search-form__icon{
                fill:var(--white);
                opacity: 0.3;

            }

            .header-search-form__label:hover .header-search-form__icon{
                opacity: 1;
            }

                .header-search-form__field{

                    font-size: 18px;
                    line-height: 24px;

                    background-color: transparent;
                    color: var(--white);
                }
                    .header-search-form__field::placeholder{
                        color: var(--white);
                    }

                    .header-search-form__field:focus{
                        background-color:var(--white);
                        color: var(--black);
                    }

                    .header-search-form__field:focus+.header-search-form__icon{
                        fill: var(--red);
                        opacity: 1;
                    }

                

        .bookmarks,
        .basket,
        .checkout {
            text-decoration: none;
            font-size: 18px;
            line-height: 18px;
            color: var(--white);
        }

        .bookmarks:active,
        .basket:active{
            background-color:var(--very-darker-blue);
            color: var(--white-hover);
        }

            .basket--active{
                background-color:var(--red);
            }

                .basket--active:hover,
                .basket--active:focus{
                    background-color:var(--red-hover);
                }

                .basket--active:active{
                    background-color:var(--red-active);
                }

        .checkout {
            background-color: var(--green);
        }
            .checkout:hover,
            .checkout:focus {
                background-color: var(--green-success);
            }
            
            .checkout:active {
                background-color: var(--green);
                color: var(--white-hover);
            }



    .main-header__desc{

        font-style: italic;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;

        color:var(--red);
            
    }  

    .contacts{

    }

        .contacts__phone{
            
            font-style: normal;
            font-weight: bold;
            font-size: 21px;
            line-height: 30px;
            text-decoration: none;

            color: var(--red);

        }

        .contacts p{

            font-style: normal;
            font-size: 14px;
            line-height: 24px;

            color: var(--blue);
        }    


/**********************************user-panel***************************************/
.user-panel {
}
    .user-panel__guest {
    }
        .user-panel__btn {
            text-decoration: none;
            text-align: center;
            font-size: 21px;
            line-height: 21px;
            color: var(--black);
            background-color:var(--white);
        }

            .user-panel__icon-login{
                width: 20px;
                height: 17px;
                fill: var(--gray-active);
            }



            .user-panel__btn:hover,
            .user-panel__btn:focus{
                color: var(--red);
            }

            .user-panel__btn:hover .user-panel__icon-login ,
            .user-panel__btn:focus .user-panel__icon-login{
                fill: var(--blue-active);
            }



            .user-panel__btn:active{
                color: var(--gray-active);
            }

            .user-panel__btn:active .user-panel__icon-login{
                fill: var(--gray-active);
            }

    .user-panel__user {
    }

        .user-panel__btn-inner-link{
            text-decoration: none;
        
            font-size: 21px;
            line-height: 21px;
            color: var(--black);
            background-color:var(--white);
        }

           .user-panel__btn-inner-link:active{
                color: var(--gray-active);
           }

            
        .user-panel__icon-user,
        .user-panel__icon-logout{
            fill: var(--gray-active);
        }

            .user-panel__btn-inner-link:hover .user-panel__icon-user,
            .user-panel__btn-inner-link:focus .user-panel__icon-user,
            .user-panel__btn-inner-link:hover .user-panel__icon-logout,
            .user-panel__btn-inner-link:focus .user-panel__icon-logout{
                fill: var(--blue-active);
            }

            .user-panel__btn-inner-link:active .user-panel__icon-user,
            .user-panel__btn-inner-link:active .user-panel__icon-logout{
                fill: var(--gray-active);
            }    


        .user-panel__user-link{
            text-decoration: none;
            font-size: 16px;
            line-height:18px;
            color: var(--blue);
        }

            .user-panel__user-link:hover,
            .user-panel__user-link:focus{
                color: var(--red);
            }

            .user-panel__user-link:active{
                color: var(--gray-active);
            }

/*****************************************MAIN-NAV*********************************************/

.main-nav-list {
    background-color:var(--blue);
    
}
    .main-nav-list__item {
    }

        .main-nav-list__link {
            font-size: 18px;
            line-height: 24px;
            color: var(--white);
            text-decoration: none;
        }

            .main-nav-list__link:hover,
            .main-nav-list__link:focus{
                background-color:var(--darker-blue);
            }

            .main-nav-list__link:active{
                color: var(--white-hover);
                background-color:var(--darker-blue-active);
            }

/****************************************************PROMO-Section*************************************/
.yellow-bg{
    background-color: var(--promo-yellow);
}

.blue-bg{
    background-color: var( --promo-blue);
}

.violet-bg{
    background-color: var(--promo-violet);
}

.green-bg{
    background-color:var(--promo-green);
}



.promo__item{
    color: var(--white);
}

    .promo__item h3{
        font-size: 24px;
        line-height: 30px;
        font-weight: bold;
        text-align: left;

    }      

    .promo__item a{
        
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        text-decoration: none;
        color: var(--white);

        background-color:var(--promo--btn-bg);

    }

        .promo__item a:hover,
        .promo__item a:focus{
            background-color: var(--promo-btn-hover);
        }

        .promo__item a:active{
            background-color: var(--promo-btn-active);
        }

/*********************************promo-slider*************************************************/
    
        .promo-slide__head-wrapper {
            background-color: #fff;
        }
            
            .promo-slide__head-wrapper h3 {
                font-size: 36px;
                line-height: 36px;
                font-weight: bold;
                color: var(--white);
                text-align: left;
                text-transform: uppercase;

            }

            .promo-slide__head-wrapper p{
                font-size: 18px;
                line-height: 24px;
                color: var(--white);
            }


  /* ***************************Popular-goods************************************* */

  .product-cart {
}
    .product-cart__title {
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        text-align: center;
    }
    .product-cart__img {
    }
    .product-cart__links {
    }
    
        .product-cart__links-buy, 
        .product-cart__links-bookmark{

            font-size: 14px;
            line-height: 18px;
            text-transform: uppercase;
            text-decoration: none;
            text-align: center;
           
        }

        .product-cart__links-buy{
            color: var(--white);
            background-color: var(--green);
        }
        
            .product-cart__links-buy:hover,
            .product-cart__links-buy:focus{
                background-color: var(--green-success);
            }

            .product-cart__links-buy:active{
                background-color: var(--green-active);
            }

    .icon-cart {
    }
        .product-cart__links-bookmark {

            color: var(--blue);

        }

        .product-cart__links-bookmark:active{
            opacity: 0.5;
        }

    .product-cart__old-price,
    .product-cart__price {
        font-family: 'PT Sans', sans-serif;
        font-weight: bold;
        font-size: 17px;
        line-height: 18px;
        text-align: center;
        
    }

    .product-cart__old-price{
        color: var(--gray);
    }

    .product-cart__price {
        color: var(--white);
        background-color: var(--red);
    }

/********************************SERVISE*********************************************/ 

.services {
    background-color: var(--light-blue);
}
.container {
}
.services__grid-layout {
}
    .services__title {
    
        color: var(--black);
    }

    .services__intro{
        font-family: 'PT Sans', sans-serif;
        font-weight: normal;
        font-size: 13px;
        line-height: 24px;
        color: var(--black);
    }


.services-list {
}
.services-list__item {
}
.services-list__link {
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    text-decoration: none;
    color: var(--white);
    background-color: var(--blue);
}

.services-list__link--active{
    color: var(--blue);
    background-color: var(--white);
}

    .services-list__link:hover,
    .services-list__link:focus{
        color: var(--white);
        background-color: var(--darker-blue);
    }

    .services-list__link:active{
        opacity: 0.7;
    }

.services-desc-list {
}
.services-desc-list__item {
}
.services-desc__title {

    
    color:var(--blue);

    text-decoration: none;
}
.services-desc__text {
    font-family: 'PT Sans', sans-serif;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--black);

}
.services-desc__img {
}
.services-desc__btn {
}

/******************************************about-us*************************************/

.about-us__desc-col {
}
.section__title {
}

.about-us__text{
    font-family: 'PT Sans', sans-serif;
}

.about-us__list{
    font-size: 18px;
    line-height: 24px;
    color: var(--black);
 

}

.red-btn {
}
.about-us__map-col {
}

/**************************main-footer*************************************/
.main-footer{
    color: var(--white);
    background-color: var(--blue);
}

.main-footer__contact {
    font-style: normal;
}
.main-footer__contact-address,
.main-footer__contact-phone {
    font-size: 18px;
    line-height: 24px;
    color: var(--footer-address-blue);
}
.main-footer__contact-phone {
    text-decoration: none;
}


.footer-nav-list {
}
    .footer-nav-list__item {
    }

        .footer-nav-list__link,
        .footer-catalog-list__link{
            font-size: 18px;
            line-height: 24px;
            text-decoration: none;
           
        }   

        .footer-nav-list__link{
            color: var(--light-blue);
        }

        .footer-catalog-list__link{
            color: var(--footer-text-gold);
        }

        .footer-nav-list__link:hover,
        .footer-nav-list__link:focus,
        
        .footer-catalog-list__link:hover,
        .footer-catalog-list__link:focus{
            text-decoration: underline;
        }

        .footer-nav-list__link:active,
        .footer-catalog-list__link:active{
            opacity: 0.5;
        }

.copyright{
    font-size: 16px;
    line-height: 18px;
}


.social-list__link {
    background-color:var(--social-footer-bg);
}
    .social-list__link:hover,
    .social-list__link:focus{
        background-color: var(--red);
    }

    .social-list__link:active{
        background-color: var(--red);
    }


.main-footer__links p{
    color: var(--white);
    font-size: 16px;
    line-height: 18px;
}

.main-footer__links a{
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
    color:var(--footer-text-gold);
}
    .main-footer__links a:hover,
    .main-footer__links a:focus{
        text-decoration: underline;
    }

    .main-footer__links a:active{
        color: var(--red);
    }


    /*******************************POP-Up******************************/
    
.feedback-form__label{
    font-size: 18px;
    line-height: 24px;
    
    color:var(--black);
}

.feedback-form__field-name::placeholder,
.feedback-form__field-mail::placeholder,
.feedback-form__field-textarea::placeholder{
    font-size: 13px;
    line-height: 24px;
    color: var(--gray);
}
    
/**************************************BREAD-CRUMBS**********************************************/

.breadcrumbs-list {
}
.breadcrumbs-list__item {
}
.breadcrumbs-list__link-icon {
}
.icon-home {
}
.visually-hidden {
}
.breadcrumbs-list__link {
    font-family: "PT Sans",sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
}

    .breadcrumbs-list__link[href]:hover,
    .breadcrumbs-list__link[href]:focus{
        text-decoration: underline;
    }

    .breadcrumbs-list__link[href]:active{
        opacity: 0.5;
    }

    /*****************************inner-page-title**********************************/

    .catalog-title{
        font-size: 30px;
        line-height: 1.2;
        font-weight: normal;
        color: var(--blue);
        text-transform: uppercase;
        background-color:var(--light-blue);
    }

    /********************************FILTERS************************************************/

    .firlters__title{
        font-family: 'PT Sans',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        text-transform: uppercase;

        background-color: var(--filters-title-bg);
    }


    .catalog-filters-form legend{

        font-family: 'PT Sans',sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 30px;
        text-transform: uppercase;
        color: var(--black);

    }

    .catalog-filters-form__price-field{
        font-family: 'PT Sans',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 18px;
        background-color: var(--filters-title-bg);
        text-transform: uppercase;
        color: var(--black);
        text-align: center;
    }

    .catalog-filters-list__label{
        font-family: 'PT Sans',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 19px;
        text-transform: uppercase;
        color: var(--black);
    }


    .catalog-filters-list__input:disabled+.catalog-filters-list__label{
        opacity: 0.4;
    }

    .catalog-filters-form__btn{

        font-family: 'PT Sans',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        text-transform: uppercase;
        
        color: var(--black);

    }

    .sorting-settings{
        font-family: 'PT Sans',sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        text-transform: uppercase;
        color: var(--black);
        background-color: var(--filters-title-bg);
    }

        .sorting-settings-list__item{
            border-bottom:1px dashed var(--red); 
        }

            .sorting-settings-list__item:hover .sorting-settings-list__link,
            .sorting-settings-list__item:focus .sorting-settings-list__link{
                opacity: 1;
            }

        .sorting-settings-list__item--active{
            border:none;
        }

            .sorting-settings-list__item--active .sorting-settings-list__link{
                opacity: 1;
                color: var(--red);
            }

        .sorting-settings-list__link{
            text-decoration: none;
           
        }
            .sorting-settings-list__link{
                opacity: 0.3;
            }
   
/***************************PAGINATION******************************/

.catalog-pagination-list__link{

    font-family: 'PT Sans',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-align: center;

    color: var(--black);
    text-decoration: none;
}

    .catalog-pagination-list__link--active{
        color: var(--white);
        background-color: var(--red);
    }

        .catalog-pagination-list__link--active:hover,
        .catalog-pagination-list__link--active:focus{
            background-color:var(--red-hover);
        }
/***********************about-perforator*********************************/

.about-perforator{

    background-color: var(--light-blue);
}

.about-perforator p{

    font-family: 'PT Sans',sans-serif;
}

/****************************************************************/

.sucсess-pop-up__text{
  
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;

    text-align: center;

}
           
.sucсess-pop-up__btn{
    
    font-size: 14px;
    line-height: 18px;
 
    text-align: center;
    text-transform: uppercase;

    color:var(--black);
}



